.search-input {
  width: 80%;
  height: 30px;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  text-indent: 10px;
  font-size: 13px;
  outline: none;
}

.search-input:focus {
  box-shadow: 0 0 3pt 1pt rgba(58, 56, 56, 0.63);
}

.invalid {
  border: 1px solid tomato;
}
